@font-face {
    font-family: "Calibri";
    src:url("./calibri.ttf") format("truetype"),
        url("./calibri.woff2") format("woff2"),
        url("./calibri.woff") format("woff");
}


* {
    font-family: "Calibri", Calibri, Arial, sans-serif;
}

button {
    position: absolute;
    height: 5vw;
    width: 15vw;
    text-align: center;
    font-size: 2vw;
}

#exercice {
    top: min(75vh, calc(100vh - 12.5vw));
    left: 25vw;
}

#enregistrer {
    top:  min(75vh, calc(100vh - 12.5vw));
    left: 60vw;
}

#img_container{
    width:  80vw;
    height:  calc(min(75vh, calc(100vh - 12.5vw)) - 20px);
    top: 10px;
    left: 10vw;
    position: absolute;
    text-align: center;
}

#normal{
    top: 47.5vh;
    left: 25vw;
}

#silencieux{
    top: 47.5vh;
    left: 60vw;
}

img{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    left: 5vw;
    top: 5vh;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    top: 5vw;
    width: 15vw;
    padding: 0;
    font-size: 2vw;
}

.dropdown-content a{
    display: block;
}

.option:hover {
    background-color: #ddd;
    cursor: pointer;
}

.show {
    display: unset;
}

.option {
    border-width: 1px;
    border-style: solid;
}

.text {
    margin-top:  0;
    margin-bottom: 0;
    white-space: pre;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
