button {
    position: absolute;
    height: 75px;
    width: 150px;
    padding: 1px;
    text-align: center;
    font-size: 25px;
    font-family: Calibri, Arial, sans-serif ;
}

#exercice {
    top: 602.5px;
    left: 108px;
}

#enregistrer {
    top: 602.5px;
    left: 458px;
}

#img_container{
    width: 700px;
    height: 600px;
    position: relative;
    text-align: center;
}

img{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}